.bg-cover {
    background-size: cover;
}

header {
    background-color: rgba(216, 216, 216, 0.9);
    font-family: 'Avenir Next';
    ul {
        list-style: none;
        a {
            color: #727A72;
        }
        a:hover {
            text-decoration: none;
            color: white;
        }
    }
    @media (max-width: 576px) {
        .topList {
            display: none;
        }
    }
}

h2 {
    font-weight: bold;
}

#mainBanner {
    h3 {
        display: block;
        font-style: italic;
        top: 300px;
    }
    @media (max-width: 576px) {
        h3 {
            color: #CED8C2;
        }
    }
}

#about {
    p {
        line-height: 1.5;
    }
}

.worksCard {
    img {
        border-radius: 3px;
    }
}
