.bg-cover {
    background-size: cover;
}

header {
    background-color: rgba(216, 216, 216, 0.9);
    font-family: 'Avenir Next';
    ul {
        list-style: none;
        a {
            color: rgba(206, 203, 203, 0.8);
        }
        a:hover,
        a.active {
            text-decoration: none;
            color: white;
        }
    }
    @media (max-width: 576px) {
        .topList {
            display: none;
        }
    }
}

h2 {
    font-weight: bold;
}

#mainBanner {
    p {
        display: block;
        font-style: italic;
        top: 275px;
        font-size: 48px;
        line-height: 1.5;
    }
    @media (max-width: 768px){
        color: #CED8C2;
    } 
    @media (max-width: 576px) {
        p {
            color: #CED8C2;
            top: 200px;
        }
    }
}

// mouse animation
.mouse {
    position: absolute;
    width: 30px;
    height: 45px;
    bottom: 40px;
    left: 50%;
    margin-left: -20px;
    border-radius: 15px;
    border: 2px solid rgba(216, 216, 216, 0.9);
    animation: invite 1s;
}

.scroll {
    display: block;
    width: 3px;
    height: 6px;
    margin: 6px auto;
    border-radius: 4px;
    background: rgba(216, 216, 216, 0.9);
    animation: down 1.5s infinite;
}

@keyframes invite {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes down {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.animated {
    opacity: 0;
    transition: all 1000ms;
    transform: translateY(50px);
}

.fadeIn {
    opacity: 1;
    transform: translateY(0);
}

#about {
    p {
        line-height: 2;
    }
}

.worksCard {
    img {
        border-radius: 3px;
        border: ridge 2px #CED8C2;
    }
}

.worksCard .workInfo {
    height: 100%;
    width: 100%;
    color: #000;
    background-color: rgba(216, 216, 216, 1);
    background-size: cover;
    opacity: 0;
    transition: opacity 500ms;
}

.worksCard:hover .workInfo,.worksCard:focus .workInfo {
    opacity: 0.8;
}




.skillCard {
    h4{
        color: #727A72
    }
    ul li{
    list-style: square;
    margin-bottom: 15px;
    margin-left: 15%;
    font-size: 18px;
    }
}


@media (max-width: 768px){
    .skillCard ul li{
        margin-left: 5%;
     }   
} 

@media (max-width: 576px){
    .skillCard ul li{
        text-align: center;
        list-style: none;
        margin-left: -10%;
     }   
} 

#contact ul li{
    list-style: none;
}

.contactInfo{
    width: 20%;
    margin:0 auto;
    img{
        margin: 0 auto;
    }
}

footer{
    margin-top: 80px;
}